div{
    display: flex;  /* Make flex container */
    justify-content: center; /* Center horizontally */
    align-items: center;
    padding: 10px;
    height: 300px;
    margin-top: 150px;
}
ion-content {
    --background: none;
    background-image: url('../../../assets/img/welcome/005.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
iframe{
    display: block;  /* Make block type */
    margin: auto;  /* Browser calculates margin */
}