<ion-content [fullscreen]="true">
  <div class="home-wrapper" id="home-wrapper">
    <div class="overlay" *ngIf="loading">
      <ion-spinner name="circular" color="light"></ion-spinner>
    </div>
    <div class="header">


    </div>

    <div class="body">
      <div class="title">
        <h3>Hola {{name$ | async}}</h3>
      </div>
      <div class="scrollable-div">
        <div class="outer-container" (click)="navigatePuzzle()">
          <div class="item-container-left">
            <img src="../../assets/img/home_list/9868185_4280167.svg" alt="">
          </div>
          <div class="item-container">
            <div class="inner-container">
              <h4>Juego 1</h4>
            </div>
          </div>
        </div>


        <div class="outer-container" (click)="navigateMemory()">
          <div class="item-container-left right">
            <img src="../../assets/img/home_list/16390809_5742805.svg" style="margin-top: 40px; padding-right: 10px;" alt="">
          </div>
          <div class="item-container right">
            <div class="inner-container">
              <h4>Juego de Memoria</h4>
            </div>
          </div>
        </div>


        <div class="outer-container">
          <div class="item-container-left right">
            <img src="../../assets/img/home_list/35457979_8312630.svg" alt="">
          </div>
          <div class="item-container right">
            <div class="inner-container">
              <h4>Sist. Reproductor</h4>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

</ion-content>
