




















/*
  .tile {
    display: table-cell;
    width: 120px;
    height: 108px;
    border: 1px solid rgba(0, 0, 0, 0.31);
    //background: url(../../../../../assets/img/memory_game/mgamet.svg);
    cursor: pointer;
    border-radius: 5px;
  }
  
  .tile1 {
    //background-image: url(../../../../../assets/img/memory_game/mgame.svg);
    background-position: left top;
  }
  
  .tile2 {
    background-image: url(../../../../../assets/img/memory_game/mgameo.svg);
    background-position: center top;
  }
  
  .tile3 {
    background-image: url(../../../../../assets/img/memory_game/mgamet.svg);
    background-position: right top;
  }
  
  .tile4 {
    background-image: url(../../../../../assets/img/memory_game/mgamef.svg);
    background-position: left center;
  }
  
  .tile5 {
    background-image: url(../../../../../assets/img/memory_game/mgame.svg);
    background-position: center center;
  }
  
  .tile6 {
    background-image: url(../../../../../assets/img/memory_game/mgame.svg);
    background-position: right center;
  }
  
  .tile7 {
    background-image: url(../../../../../assets/img/memory_game/mgame.svg);
    background-position: left bottom;
  }
  
  .tile8 {
    background-image: url(../../../../../assets/img/memory_game/mgame.svg);
    background-position: center bottom;
  }
  
  .tile9 {
    background-image: url(../../../../../assets/img/memory_game/mgame.svg);
    background-position: right bottom;
  }
  
  ion-button {
    margin: 2rem auto;
  }*/