<div class="nav-side-menu">
  <div class="brand">Administracion</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li data-toggle="collapse" class="collapsed">
        <a href="#">Usuario</a>
      </li>
      <ul class="sub-menu collapse">
        <li class="opcion">Crear usuario</li>
        <li class="opcion">Desactivar cuentas</li>
        <li class="opcion">Modificar datos de usuario</li>

      </ul>
      <!--Acceso a la informacion del perfil del administrador-->
      <!-- <li>
        <a href="#">
          <i class="fa fa-user fa-lg"></i> Profile
        </a>
      </li> -->
      <li data-toggle="collapse" class="collapsed">
        <a href="#">Contenido</a>
      </li>
      <ul class="sub-menu collapse">
        <li class="opcion">Crear contenido</li>
        <li class="opcion">Modificar contenido</li>
      </ul>
    </ul>
  </div>
</div>