<ion-content [fullscreen]="true">
    <div id="wrapper" class="wrapper">
      <img src="../../../../assets/img/welcome/005.png" alt="">
      <h2 id="login-title">Ingresa con tus datos</h2>
      <div id="form-container" class="form-container">
        <br><br>
        <ion-input id="username" fill="outline" label="Usuario" type="text" placeholder="Ingrese su correo" labelPlacement="floating"></ion-input>
        <ion-input id="pass" fill="outline" label="Contraseña" type="password" placeholder="Ingresa Contraseña" labelPlacement="floating" autocomplete="false"></ion-input>
        <ion-button id="sub-btn" (click)="loginUser()"  expand="block" color="dark" fill="solid">
          Ingresa
        </ion-button>
        <div class="access-logo-container" id="access-logo-ctn">
          <ion-icon id="open-access-menu" color="primary" name="accessibility"></ion-icon>
        </div>
      </div>
      <ion-modal trigger="open-access-menu" [initialBreakpoint]="0.75" [breakpoints]="[0,0.75]">
        <ng-template>
          <app-accessibility></app-accessibility>
        </ng-template>
      </ion-modal>
    </div>
</ion-content>

