<div class="title" >
  <h3>Menú de Accesibilidad</h3>
</div>
<div class="wrapper">
  
  <div class="row">
    <!-- el boton activa o desactiva la opcion deseada -->
    <!-- pasamos el metodo para elegir la opcion deseada (switchMethods(indice)) -->
    <div class="btn" *ngFor="let option of options; let i = index" (click)="activeOption(i)">
      <ion-icon slot="start" [color]="option.active ? 'primary' : 'light'" [name]="option.icon"></ion-icon>
      <p id="btn-text{{i}}">{{option.title}}</p>
    </div>
  </div>
</div>
